<p>ember-wired</p>

<section>
  <p>non animated</p>
  <WiredButton>
    click
  </WiredButton>

  <WiredCard>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </WiredCard>
</section>

<section>
  <p>animated</p>
  <WiredButton @animated=true>
    click
  </WiredButton>

  <WiredCard @animated=true>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </WiredCard>
</section>

<p>
  The full list of components found here:
  <a href="https://github.com/wiredjs/wired-elements/tree/master/packages">https://github.com/wiredjs/wired-elements/tree/master/packages</a>
</p>

<p>Showcase: <a href="https://wiredjs.com/">https://wiredjs.com/</a></p>
